{% load static%}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>COVID</title>
    <link rel="stylesheet" href="{% static 'assetsNav/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static '/assetsNav/fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static '/assetsNav/css/gradient-navbar-1.css'%}">
    <link rel="stylesheet" href="{% static '/assetsNav/css/gradient-navbar.css'%}">
    <link rel="stylesheet" href="{% static '/assetsNav/css/styles.css'%}">
    <script type="text/javascript" src='https://unpkg.com/xlsx/dist/shim.min.js'></script>
    <script lang="javascript" src='https://unpkg.com/xlsx/dist/xlsx.full.min.js' ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
    <div class="container-fluid"><a class="navbar-brand" href="#"><i class="icon ion-ios-infinite" id="brand-logo"></i></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link active" href="https://covid-proyecto2.herokuapp.com/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
            </ul>
        </div>
    </div>
</nav>
    <br>
    <div align="center">
        <br>
    <h2>CARGA UN ARCHIVO CSV PARA PREDECIR EL COMPORTAMIENTO DE LA PANDEMIA</h2>
    <br><br>

    <form action="procesarArchivo" enctype="multipart/form-data"  method="POST" >
      {% csrf_token %}
        <input  type="file" id="file1" name="file1" onchange="handleFileSelect()" required />
        
        <br>
        <textarea id="area" name="area" style="display:none;" nowrap="nowrap" wrap="off" onkeyup="keyup(this, event)" onscroll="scroll_changed(this)"></textarea>
        <textarea id="extension"  style="display:none;"  name="extension" nowrap="nowrap" wrap="off" onkeyup="keyup(this, event)" onscroll="scroll_changed(this)"></textarea>
        <br>
        <div class="row">
          <br>
          <div class="col">
          </div>

          <div class="col">

          <select class="custom-select"  id="tipoReporte" name="tipoReporte">
            <option value="1">1) Tendencia de infeccion en un pais</option>
            <option value="2">2) Predicción de Infertados en un País.</option>
            <option value="3">3) Indice de Progresión de la pandemia.</option>
            <option value="4">4) Predicción de mortalidad por COVID en un Departamento.</option>
            <option value="5">5) Predicción de mortalidad por COVID en un País.</option>
            <option value="6">6) Análisis del número de muertes por coronavirus en un País.</option>
            <option value="7">7) Tendencia del número de infectados por día de un País.</option>
            <option value="8">8) Predicción de casos de un país para un año.</option>
            <option value="9">9) Tendencia de la vacunación de en un País.</option>
      
            <option value="10">10) Ánalisis Comparativo de Vacunaciópn entre 2 paises.</option>
            <option value="11">11) Porcentaje de hombres infectados por covid-19 en un País desde el primer caso activo</option>
            <option value="12">12) Ánalisis Comparativo entres 2 o más paises o continentes.</option>
            <option value="13">13) Muertes promedio por casos confirmados y edad de covid 19 en un País.</option>
            <option value="14">14) Muertes según regiones de un país - Covid 19.</option>
            
            <option value="15">15) Tendencia de casos confirmados de Coronavirus en un departamento de un País.</option>
            <option value="16">16) Porcentaje de muertes frente al total de casos en un país, región o continente.</option>
            <option value="17">17) Tasa de comportamiento de casos activos en relación al número de muertes en un continente.</option>
            <option value="18">18) Comportamiento y clasificación de personas infectadas por COVID-19 por municipio en un País.</option>
            <option value="19">19) Predicción de muertes en el último día del primer año de infecciones en un país.</option>
      
            <option value="20">20) Tasa de crecimiento de casos de COVID-19 en relación con nuevos casos diarios y tasa de muerte por COVID-19</option>
            <option value="21">21) Predicciones de casos y muertes en todo el mundo - Neural Network MLPRegressor</option>
            <option value="22">22) Tasa de mortalidad por coronavirus (COVID-19) en un país.</option>
            <option value="23">23) Factores de muerte por COVID-19 en un país.</option>
            <option value="24">24) Comparación entre el número de casos detectados y el número de pruebas de un país.</option>
            <option value="25">25) Predicción de casos confirmados por día</option>
      
          </select>
        </div>
        <div class="col">
        </div>
      </div>
        <input type="submit" value="Subir archivo"/>
        <input type="button" onclick="enviarEmail();" value="Send"/>
    </form>

    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js">
    </script>
    <script>
      function handleFileSelect() {
        
        //file es el id del boton fichero
        var text="";
        const input = document.getElementById('file1');
        //area es el id del text area donde se va a escribir
        const editor=document.getElementById('area');
        const extension=document.getElementById('extension');
        //const code = document.getElementById('code');

        ext=(/[.]/.exec(input.files[0].name)) ? /[^.]+$/.exec(input.files[0].name)[0] : undefined;
        extension.value=ext;
        if(ext==='csv'|| ext === 'json'){

        
        if (input.files.length > 0) {
            readFile(input.files[0]);
        }
        function readFile(file) {
          const reader = new FileReader();
          reader.onload = function () {

              editor.value = reader.result;
              text = document.getElementById("area").value;

          },
                  reader.readAsText(file);
        }
        //console.log("CONERTIR A CSV");
        //convertXlsx_To_Csv();
      }else{
        convertXlsx_To_Csv();

      }
      }


      function subir(){
        //file es el id del boton fichero
        var text="";
        const input = document.getElementById('file1');
        //area es el id del text area donde se va a escribir
        const editor=document.getElementById('area');
        //const code = document.getElementById('code');
        if (input.files.length > 0) {
            readFile(input.files[0]);
        }
        function readFile(file) {
          const reader = new FileReader();
          reader.onload = function () {
            
              editor.value = reader.result;
              text = document.getElementById("area").value;
    
              //alert(text);
              
              //editor.value='aaaaaa';
          },
                  reader.readAsText(file);
        }
        

        /*const body={}
        $.ajax({
          method:"POST",
          url:"procesarArchivo",
          data: {nombre:"James", apellido: "Gramajo"}
        })
        .done( function(){
          alert('todo bien');
        })
        .fail(function(){
          alert('todo mal');
        })*/
      }
    </script>
    <script src="{% static '/assetsNav/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</body>
<script>
  //CONVERT XLS TO CSV
  function convertXlsx_To_Csv(){

    const file=document.getElementById('file1').files[0];
    console.log("FILE "+file)
    const editor=document.getElementById('area');

    file.arrayBuffer().then((res)=>{
        let data= new Uint8Array(res);
        let workbook=XLSX.read(data,{type:"array"});
        let first_sheet_name=workbook.SheetNames[0];
        console.log("Sheet name",first_sheet_name);
        let worksheet=workbook.Sheets[first_sheet_name]
        //convertimos a json
        let jsonData= XLSX.utils.sheet_to_json(worksheet,{raw:true});
        //console.log("JSON ",jsonData);

        let json= jsonData.map((x)=>({
          ...x,
        }))
        console.log("james",json);
        editor.value=JSON.stringify(json)
        //alert(JSON.stringify(json));
        //let fileNameWithout=file.name.substring(0,file.name.indexOf("."));
        //let new_worksheet=XLSX.utils.json_to_sheet(json);
        //let new_workbook=XLSX.utils.book_new();
        //XLSX.utils.book_append_sheet(new_workbook,new_worksheet,"CSV_SHEET");

        //XLSX.writeFile(new_workbook,fileNameWithout+".csv");
    });


  }

  



  function convertXlsx_To_Csv2(){

    const file=document.getElementById('file1').files[0];
    console.log("FILE "+file)

    file.arrayBuffer().then((res)=>{
        let data= new Uint8Array(res);
        let workbook=XLSX.read(data,{type:"array"});
        let first_sheet_name=workbook.SheetNames[0];
        console.log("Sheet name",first_sheet_name);
        let worksheet=workbook.Sheets[first_sheet_name]
        //convertimos a json
        let jsonData= XLSX.utils.sheet_to_json(worksheet,{raw:true});
        //console.log("JSON ",jsonData);

        let json= jsonData.map((x)=>({
          ...x,
          //console.log("x ",x);
        }))
        
        //alert(JSON.stringify(json));
        let fileNameWithout=file.name.substring(0,file.name.indexOf("."));
        let new_worksheet=XLSX.utils.json_to_sheet(json);
        let new_workbook=XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(new_workbook,new_worksheet,"CSV_SHEET");
        //console.log(new_workbook);
        //console.log(XLSX.utils.sheet_to_txt("aaaa,b");
        //XLSX.writeFile(new_workbook,fileNameWithout+".csv");

        //onchange="handleFileSelect()"

    });


  }


</script>

</hmtl>