{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>COVID</title>
    <link rel="stylesheet" href="{% static '/assetsNav/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static '/assetsNav/fonts/ionicons.min.css'%}">
    <link rel="stylesheet" href="{% static '/assetsNav/css/gradient-navbar-1.css'%}">
    <link rel="stylesheet" href="{% static '/assetsNav/css/gradient-navbar.css'%}">
    <link rel="stylesheet" href="{% static '/assetsNav/css/styles.css'%}">
    <script type="text/javascript" src='https://unpkg.com/xlsx/dist/shim.min.js'></script>
    <script lang="javascript" src='https://unpkg.com/xlsx/dist/xlsx.full.min.js' ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-dark navbar-expand-md" id="app-navbar">
        <div class="container-fluid"><a class="navbar-brand" href="#"><i class="icon ion-ios-infinite" id="brand-logo"></i></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Acerca de</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Third Item</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <div id="ht" name="ht">
    <h1 align="center" >{{titulo}}</h1>
    <h4>{{desc}}<h4>
    </div>
    <br>
    <textarea id="area" name="area" style="display:none;"  nowrap="nowrap" wrap="off" value="{{codigo}}" >{{codigo}}</textarea>
    <textarea id="desc" style="display:none;"  name="desc" nowrap="nowrap" wrap="off" value="{{desc}}" >{{desc}}</textarea>
    <textarea id="titulo" style="display:none;"  name="titulo" nowrap="nowrap" wrap="off" value="{{titulo}}" >{{titulo}}</textarea>
    <div  align="right">
    <button type="button" onclick="download()" class="btn btn-danger">Descargar Reporte</button>
    </div>
    <div  align="center">
      <img id="grafica" name="grafica"src="data:image/png;base64,{{codigo}}" alt="My image">
    </div>
    <script>
        function download(){
            var doc= new jsPDF();
            const imagen = document.getElementById('area');
            const desc = document.getElementById('desc');
            const titulo = document.getElementById('titulo');
            //console.log(imagen.value);

            var dataImagen="data:image/png;base64,"+imagen.value;
            
            doc.text(titulo.value+"\n" ,13,13);
            doc.text("\n\n"+desc.value,8,8)
            //doc.fromHTML($('#ht').get(0))
            doc.addImage(dataImagen,40,100,160,140);
            doc.save("Reporte.pdf");



        }

    </script>
    



    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    
    <script src="{% static '/assetsNav/bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</body>

</hmtl>